html {
  background: linear-gradient(to bottom, #ffffff 0%, #ccffff 100%);
  height: 100%;
}
#calendar3 {
  width: 100%;
  line-height: 1.2em;
  text-align: center;
  height: 60vh;
}
.dateInCell {
  padding-left: 25%;
  text-align: left;
}
.greenList {
  position: absolute;
  background-image: url(image/greenList.jpg);
  height: 3vh;
  z-index: 5;
  width: 3vw;
  background-size: cover;
  top: 15%;
  right: 15%;
}
.redList {
  position: absolute;
  background-image: url(image/redList.jpg);
  height: 3vh;
  z-index: 5;
  width: 3vw;
  background-size: cover;
  bottom: 15%;
  right: 15%;
}
.greenListTasks {
  font-size: 3vh;
  border: 1px solid black;
  background-color: #c7fcbad6;
  border-radius: 25% 10%;
  text-decoration: underline;
  position: absolute;
  display: none;
  right: -18vw;
  top: 4vh;
  z-index: 5;
  line-height: 3vh;
}
.redListTasks {
  font-size: 3vh;
  border: 1px solid black;
  background-color: #e9c2ced6;
  border-radius: 25% 10%;
  text-decoration: underline;
  position: absolute;
  display: none;
  right: -18vw;
  top: 9vh;
  z-index: 5;
  line-height: 3vh;
}
.redListTasks p,
.greenListTasks p {
  text-align: left;
  padding-right: 3vh;
  padding-left: 3vh;
}
#calendarCont {
  border: 2px solid black;
  width: 80vw;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%), -23px 0 20px -23px rgb(0 0 0 / 80%),
    23px 0 20px -23px rgb(0 0 0 / 80%), 0 0 40px rgb(0 0 0 / 10%) inset;
}
#inputLine {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
#inputLine select {
  width: 80px;
  text-align: center;
}
#inputLine input {
  text-align: center;
  width: 55px;
}
#calendar3 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar3 tbody td {
  color: rgb(44, 86, 122);
  position: relative;
}
#calendar3 tbody td:nth-child(n + 6),
#calendar3 .holiday {
  color: rgb(231, 140, 92);
}
#calendar3 tbody td.today {
  outline: 3px solid red;
}
tbody td:nth-child(-n + 6) {
  border-right: 1px solid rgb(208, 199, 218);
}
table {
  border-collapse: collapse;
}
/* tr:nth-child(3) { border: solid thin; } */
table tr {
  border: 1px solid rgb(208, 199, 218);
}
